body{
    font-family: Arial, Helvetica, sans-serif;
}

.listener-container {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction: column;
}
.listen{
    border: none;
    background-color: transparent;
}

.output{
    margin-top: 15px;
}
